<div class="c-content">
	<div>
		<alert type="info">
			百度地图
		</alert>
	</div>
	<div class="c-content-inner container-fluid">
		<div class="card">
			<div class="card-header">
				<app-grid-ttar [ttars]="ttars"></app-grid-ttar>
			</div>
			<div class="card-body">
				<app-map #testMap (onClicked)="click($event)"></app-map>
			</div>
		</div>
	</div>
</div>

<ng-template let-context let-modal="modal" #modalTemplate>
	<div class="header">Example</div>
	<div class="content">
		<p>asdfasdf</p>
	</div>
	<div class="actions">
		<button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
		<button class="ui green button" (click)="modal.approve('approved')" autofocus>OK</button>
	</div>
</ng-template>
