<div class="c-content">
  <div>
    <alert type="info">
      百度地图
    </alert>
  </div>
  <div class="c-content-inner container-fluid">
    <div class="mb-4">
      <button type="button" class="btn btn-primary" (click)="panTo()">Change Center</button>
      <button type="button" class="btn btn-secondary" (click)="zoom()">Change Zoom</button>
      <button type="button" class="btn btn-success" (click)="infoWindow()">new infomation window</button>
      <button type="button" class="btn btn-default" (click)="all()">all</button>
    </div>
    <abm-map #map [options]="options" (ready)="onReady($event)" style="height:500px; border-radius: 10px"></abm-map>
  </div>
</div>
