<div class="form-inline pr-3">
	<nz-select nzPlaceHolder="主题"
			   [(ngModel)]="theme"
			   (ngModelChange)="themeChange($event)">
		<nz-option *ngFor="let item of themes"
				   [nzLabel]="item"
				   [nzValue]="item">
		</nz-option>
	</nz-select>
	<nz-select nzPlaceHolder="条数"
			   *ngIf="!disabledLimit"
			   [nzDisabled]="disabledLimit"
			   [(ngModel)]="pageParams.size"
			   (ngModelChange)="limitChange($event)">
		<nz-option *ngFor="let item of limits"
				   [nzLabel]="item"
				   [nzValue]="item">
		</nz-option>
	</nz-select>
	<span class="ml-2" *ngIf="!disabledLimit">条/页</span>
	<form class="form-inline position-absolute" style="right: 1rem">
		<button class="btn btn-sm btn-outline-primary pagination-btn" [disabled]="pageParams.first"
				(click)="pager('first')">
			<< 首页
		</button>
		<button class="btn btn-sm btn-outline-primary pagination-btn" [disabled]="pageParams.first"
				(click)="pager('previous')">
			上一页
		</button>
		<span class="p-2" *ngIf="pageParams.totalElements !== 0">
        {{pageParams.number+1}}页 / {{pageParams.totalPages}}页
        </span>

		<button class="btn btn-sm btn-outline-primary pagination-btn" [disabled]="pageParams.last"
				(click)="pager('next')">
			下一页
		</button>
		<button class="btn btn-sm btn-outline-primary pagination-btn" [disabled]="pageParams.last"
				(click)="pager('last')">
			末页 >>
		</button>
	</form>
</div>
